<div class="container">
  <h1>All our flats (<%= @flats.count %>)</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
            <a class="card-text"><i class="fa-solid fa-person">  </i><%=flat.number_of_guests %></a>
            <a class="card-text"><i class="fa-solid fa-money-bill">  </i><%=flat.price_per_night %></a>
            <div class="more-info-box">
              <p class="more-info-text"><%=link_to "more info", flat_path(flat) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
